# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~ 
*.pyc
*.pkl

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Env e credenziali
.env
*.env
config.json
secret_keys.json

# Logs e cache
*.log
*.sqlite3
*.db
*.cache
.cache/

# Dati locali / dataset
dataset/*.csv
dataset/*.tsv
dataset/*.json

# ROS / NAO temporanei
*.bag
*.launch.*
build/
devel/
install/
log/

# Sistemi operativi
.DS_Store
Thumbs.db

# Backup vari
*.bak
*.swp
*.tmp
